<!DOCTYPE html>
<html>
 <title>Node Authentication</title>
<head>
<style>
#myDIV {
    border: 1px solid black;
    margin-bottom: 10px;
}
</style>

</head>
<body>


<div>
<% customers.forEach( function( cus ){ %>
  <p><%= cus.firstName %></p>
  <p><%= cus.lastName %></p>
  <p><%= cus.email %></p>
  <p><%= cus.mobileno %></p>
  <br>
<% }); %>
  

  

</div>




</body>
</html>


